@charset "UTF-8";
/* -------------------------------------------------------------------------- */
/* Override theme styles here                                      */
/* -------------------------------------------------------------------------- */
body,
button,
input,
select,
textarea {
  font-family: "Nunito Sans", -apple-system, system-ui, BlinkMacSystemFont,
               "Segoe UI", Helvetica, Arial, sans-serif,
               "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  text-transform: none;
}

.navbar-brand {
  max-width: 160px;
}
.navbar-top {
  padding: var(--ydzoca-nav-padding);
}
.page-template-dashboard-template .content {
    padding-top: 2rem;
}
@media (min-width: 992px) {
    .page-template-dashboard-template .content {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-left: 15.875rem;
        padding-top: 2rem;
    }

}


.ydcoza-upload input[type="file"]::file-selector-button {
  border: 2px solid #fff;
  padding: 0.2em 0.4em;
  border-radius: 0;
  background-color: #fff !important;
}

.ydcoza-upload input[type="file"]::file-selector-button:hover {
  background-color: #fff !important;
}

/* WebKit fallback */
.ydcoza-upload input[type="file"]::-webkit-file-upload-button {
  border: 2px solid #fff;
  padding: 0.2em 0.4em;
  border-radius: 0;
  background-color: #fff !important;
}

.ydcoza-upload input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #fff !important;
}
